streamlit
pandas
requests
gspread
google-auth
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
selenium
webdriver-manager
pandas
supabase
beautifulsoup4
pytz
pdfplumber
plotly
matplotlib
reportlab
